.page-ellipsis, .page-link, 
.next-button, .prev-button {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    justify-content: center; /* Cambiado a center para alinear correctamente */
    line-height: 1.5;
    padding: 0.5em 0.75em; /* Simplificado el padding */
    position: relative;
    vertical-align: top;
}

.my-pagination {
    font-size: 1rem;
    margin: -0.25rem;
    display: flex; /* Asegura que la paginación esté en línea */
    justify-content: center; /* Centra el contenido */
    align-items: center; /* Centra verticalmente */
}

.my-pagination.small { font-size: 0.75rem }
.my-pagination.medium { font-size: 1.25rem }
.my-pagination.large { font-size: 1.5rem }
.my-pagination.rounded 
.next-button, 
.my-pagination.rounded 
.prev-button { padding-left: 1em; padding-right: 1em; border-radius: 9999px }
.my-pagination.rounded 
.page-link { border-radius: 9999px }
.pagination-items {
    align-items: center;
    display: flex;
    justify-content: center; /* Asegura que los elementos estén centrados */
    text-align: center;
}
.page-ellipsis, .page-link, .next-button, .prev-button {
    font-size: 1em;
    justify-content: center;
    margin: 0.25rem;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: center;
}
.page-link, .next-button, .prev-button {
    border-color: #dbdbdb;
    color: #363636;
    min-width: 2.5em;
}
.page-link:hover, .next-button:hover, .prev-button:hover {
    border-color: #b5b5b5;
    color: #363636;
}
.page-link:focus, .next-button:focus, .prev-button:focus {
    border-color: #485fc7;
}
.page-link:active, .next-button:active, .prev-button:active {
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
}
.page-link.disabled, 
.page-link[disabled], 
.next-button.disabled, 
.next-button[disabled], 
.prev-button.disabled, 
.prev-button[disabled] {
    background-color: #dbdbdb;
    border-color: #dbdbdb;
    box-shadow: none;
    color: #7a7a7a;
    opacity: 0.5;
}
.next-button, .prev-button {
    padding-left: 0.75em;
    padding-right: 0.75em;
    white-space: nowrap;
}
.page-link.current {
    background-color: #485fc7;
    border-color: #485fc7;
    color: #fff;
}
.page-ellipsis {
    color: #b5b5b5;
    pointer-events: none;
}
.pagination-items {
    flex-wrap: wrap;
}
.pagination-items li {
    list-style: none;
}
@media screen and (max-width: 768px) {
    .my-pagination { flex-wrap: wrap; }
    .next-button, 
    .prev-button { flex-grow: 1; flex-shrink: 1; }
    .pagination-items li { flex-grow: 1; flex-shrink: 1; }
}
@media screen and (min-width: 769px), 
print {
    .pagination-items { flex-grow: 1; flex-shrink: 1; justify-content: flex-start; order: 1; }
    .page-ellipsis, 
    .page-link, 
    .next-button, 
    .prev-button { margin-bottom: 0; margin-top: 0; }
    .prev-button { order: 2; }
    .next-button { order: 3; }
    .my-pagination { justify-content: space-between; margin-bottom: 0; margin-top: 0; }
    .my-pagination.centered .prev-button { order: 1; }
    .my-pagination.centered .pagination-items { justify-content: center; order: 2; }
    .my-pagination.centered .next-button { order: 3; }
    .my-pagination.right .prev-button { order: 1; }
    .my-pagination.right .next-button { order: 2; }
    .my-pagination.right .pagination-items { justify-content: flex-end; order: 3; }
}


/* para el buscador */


/* Estilos generales para el formulario de búsqueda */
.custom-search-form {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    
}

.custom-field.custom-has-addons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-control.custom-is-expanded {
    flex-grow: 1;
}

.custom-input.custom-is-rounded {
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 16px;
    border:1px solid rgb(149, 146, 146);
    width: 80%;
}

.custom-button.custom-is-info {
    padding: 10px 15px;
    font-size: 12px;
    border-radius: 30px;
    margin-left: 10px;
    border: none;
}

.custom-button.custom-is-danger {
    padding: 10px 15px;
    font-size: 12px;
    border-radius: 30px;
    margin-left: 10px;
    border: none;
    background-color: red;
}

.custom-button.custom-is-info:hover{
    background-color: rgb(104, 103, 103);
    color: white;
}

/* Mejora la accesibilidad */
.custom-input.custom-is-rounded:focus {
    outline: none;
    border-color: #3273dc;
    box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

.custom-button.custom-is-info:focus {
    outline: none;
    box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}


/* para el banner de la pagina principal*/


.custom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.custom-socials a {
    color: white;
    margin-right: 30px;
    text-decoration: none;
    font-size: 1.5rem;
}

.custom-socials a:hover {
    color: #ddd;
}

.custom-logo img {
    max-height: 60px;
}


.custom-banner {
    position: relative;
    background: url('../biblioteca/banner/estructuras.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.custom-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.custom-banner-content {
    position: relative;
    z-index: 1;
}

.custom-banner-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    margin: 0 20% 5% 20%;
}

.custom-buttons {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.custom-btn {
    background: #4144f4;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.custom-btn:hover {
    background: #4d4d5e;
    color: white;
}


/* para el login */

.custom-login .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    width: 100%;
    height: 100vh;
   
}

.custom-info-section {
    flex: 7;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #040329;
}

.custom-login-section {
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #040329;;
    color:white;
    text-align: center;

}

.custom-info-section img {
    width: 100%;
    height: 100%;
}

.custom-login-section .login-content .logo img {
    max-width: 150px;
    margin-bottom: 20px;
}

.custom-login-section .login-content h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.custom-login-section .login-content p {
    margin-bottom: 20px;
}

.custom-login-section .form-group {
    padding: 0 60px 0 60px;
    margin-bottom: 20px;
}

.custom-login-section .form-control {
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}

.custom-login-section .btn {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    margin-bottom: 10px;
}




/* para el registro en la pagina web */

.registration{
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../biblioteca/banner/estructuras.jpg);
}

.registration-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 700px;
    background: linear-gradient(to bottom, #413467, #280b47);
}

.registration-form {
    display: flex;
    flex-direction: column;
    
}

.registration-form h2 {
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-group {
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    color: white;
}

.form-group input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.gender-options label {
    color: white;
    margin-right: 10px;
}

.form-group-btn{
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
}

.register-btn {
    background-color: #8b4eb4;
    border: none;
    color: white;
    padding: 15px 60px 15px 60px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.register-btn:hover {
    background-color: #59209b;
    color:white;
}



/* para mis mensjaes de alerta*/
.alert-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.alert-container {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 80%;
    width: 400px;
    position: relative;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.alert-container.active {
    visibility: visible;
    opacity: 1;
}

.alert-container .close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* para los formularios */

.custom-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-form-group {
    margin-bottom: 15px;
}

.custom-form-group label {
    display: block;
    margin-bottom: 5px;
}

.custom-form-group input,
.custom-form-group select, 
.custom-form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.custom-error-message {
    color: red;
    display: none; /* Este mensaje solo se mostrará si hay un error */
}

.custom-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.custom-btn-primary {
    background-color: #007bff;
    color: #fff;
}

.custom-btn-secondary {
    background-color: #6c757d;
    color: #fff;
}

.custom-form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.custom-form-row .custom-form-group {
    flex: 1;
    min-width: 200px;
}

/* Media queries para adaptabilidad */
@media (max-width: 768px) {
    .custom-form-row {
        flex-direction: column;
    }
}


/* para el seleccionador de icono*/
.select2-results__option img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}
.select2-selection__rendered img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}